
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.grad-1{
  background-image: linear-gradient(135deg, rgb(146, 203, 53),rgb(106, 163, 13),rgb(106, 163, 13), rgb(33, 31, 32));
  outline-style: solid;
  outline-width: 5px;
  outline-color: rgb(106, 163, 13);
}

.ouline-1{
  outline-style: solid;
  outline-width: 3px;
  outline-color: rgb(106, 163, 13);
}

.package-strip{
  background-color: rgba(201, 218, 234, .60);
}

body{
  background-color: rgb(33, 31, 32);
}

.background-1{
  background-color: rgb(106, 163, 13);
}
.background-2{
  background-color: rgb(243, 239, 224);
}
.background-3{
  background-color: rgb(208, 102, 62);
}


.header-text{
  color: rgb(106, 163, 13);
  text-decoration: none;
}

.footer-text{
  color: rgb(201, 218, 234);
}

.bg-dark{
  background-color: rgb(33, 31, 32) !important;
}

.p1 {
  text-align: center;
  font-size: xx-large;
}

.center-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  width: 50%;
}

.left {
  display: block;
  margin: left 0;
}

.center {
  text-align: center;
}

.signupbutton {
  background-color: rgb(208, 102, 62);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 1;
}

.header-link{
  color: rgb(106, 163, 13);
   text-decoration: none;
}