.background-1{
  background-color: rgb(106, 163, 13);
}
.background-2{
  background-color: rgb(243, 239, 224);
}
.background-3{
  background-color: rgb(208, 102, 62);
}


.header-text{
  color: rgb(106, 163, 13);
}

.footer-text{
  color: rgb(201, 218, 234);
}

.bg-dark{
  background-color: rgb(33, 31, 32) !important;
}

.p1 {
  text-align: center;
  font-size: xx-large;
}

.center-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  width: 50%;
}

.left {
  display: block;
  margin: left 0;
}

.center {
  text-align: center;
}

.signupbutton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 1;
}